#admin
  h1 Admin
  .row
    .col-xs-4
      label for="admin-search" Search user:
      input#admin-search.form-control.light-table-filter type="search" data-table="order-table" placeholder="Search"

  br
  .row
    .col-xs-12
      table.table.table-hover.order-table data-role="table"
        thead
          tr
            th Name
            th Email
            th.center Teacher
            th.center Admin

        tbody.order-table-body
          - @users.each do |user|
            tr data-id="=edit_admin_url(user.id)"
              td =user.name
              td =user.email
              td.center ="√" if user.teacher?
              td.center = "√" if user.admin?

javascript:
  (function (document) {
    'use strict';

    var LightTableFilter = (function (Arr) {

      var _input;

      function _onInputEvent(e) {
        _input = e.target;
        var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
        Arr.forEach.call(tables, function (table) {
          Arr.forEach.call(table.tBodies, function (tbody) {
            Arr.forEach.call(tbody.rows, _filter);
          });
        });
      }

      function _filter(row) {
        var text = row.textContent.toLowerCase(),
          val = _input.value.toLowerCase();
        row.style.display = text.indexOf(val) === -1
          ? 'none'
          : 'table-row';
      }

      return {
        init: function () {
          var inputs = document.getElementsByClassName('light-table-filter');
          Arr.forEach.call(inputs, function (input) {
            input.oninput = _onInputEvent;
          });
        }
      };
    })(Array.prototype);

    document.addEventListener('readystatechange', function () {
      if (document.readyState === 'complete') {
        LightTableFilter.init();
      }
    });

  })(document);
