<div class="row">
  <div class="col-sm-4"><button class="btn btn-large">Student submit</button></div>
  <div class="col-sm-4"><button class="btn btn-large">Company submit</button></div>
  <div class="col-sm-4"><button class="btn btn-primary btn-large">Browse proposals</button></div>
</div>
