<div id="browse">
    <h2>Browse
        <span class="spans">I</span>t</h2>
    <table class="table table-hover" id="browse-proposals">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <% @proposals.each do |p| %>
            <% if p.approved? %>
            <tr data-link="<%= proposal_path(p) %>">
                <td><%= p.name %></td>
                <td><%= p.description %></td>
                <td><%= p.category %></td>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
</div>
<script type="text/javascript">
$("tr").click(function() {
  window.location = $(this).data("link")
});
</script>
