<h1><%= @proposal.name %></h1>
<small>By Jerry pedersen</small>
<hr>
<div class="row">
  <div class="col-md-1">
    <strong>Description</strong>
  </div>
  <div class="col-md-11">
    <%= @proposal.description %>
  </div>
</div>
