@import "bootstrap-sprockets"
@import "bootstrap"

$student: #FFBC42
$company: #D81159
$browse: #218380
$trackit: #8F2D56

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'pages'
@import 'proposals'

.jumbotron
  text-align: center
  margin-top: 50px
  text-align: center
  margin-top: 20px

.nav
  li
    a
      color: #333

.navbar-brand
  color: #333

.navbar-brand
  span
    color: $trackit

.bt-login,.bt-login:hover, .bt-login:active, .bt-login:focus
  background-color: $trackit
  color: white
  padding-bottom: 10px
  padding-top: 10px
  transition: background-color 300ms linear 0s

.login-modal-header
  background: $trackit
  color: #fff

.login-modal-header .modal-title
  color: #fff

.login-modal-header .close
  color: #fff

.login-modal i
  color: #000

.login-modal form
  max-width: 340px

.tab-pane form
  margin: 0 auto
