nav.navbar
  box-shadow: 0px 1px 56px -16px rgba(0,0,0,0.2)
  border-radius: 0
  border-bottom: 1px solid #f6f6f6
  background-color: #333

  li
    border-bottom: 3px solid #333

    &:hover
      border-bottom: 3px solid $company


    a:hover
      background-color: #333

    a:focus
      background-color: #333
      outline: none

  .nav
    li
      a
        color: white
        font-weight: 400
        letter-spacing: 1px

  .navbar-brand
    color: white

    span
      color: $trackit
      font-size: 1.2em
      margin: 0 1px

.navbar-default
  ul.navbar-nav
    li.active
      border-bottom: 3px solid $browse

      a, a:focus, a:hover
        background-color: #333
        color: white

    a
      &:hover
        color: white

      &:visited
        color: white

      &:visited
        color: white

  .navbar-toggle
    border: 0

    &:focus
      background-color: inherit
      color: white
