// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home

  .submitted-before
    font-size: 14px

  .btn
    margin: 5px
    padding: 20px

    &:hover
      i
        color: $trackit
        transition: all 0.2s ease-in-out

  .student
    background-color: $student
    color: white

    i
      font-size: 100px

  .company
    background-color: $company
    color: white

    i
      font-size: 100px

  .browse
    background-color: $browse
    color: white

    i
      font-size: 100px
