// Place all the styles related to the proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#browse
  .colortest
    margin: 15px 0 20px 0
    border-radius: 4px

  .filter-proposals
    margin-top: 10px

  .pagination
    margin: 0 auto
    text-align: center

#edit
  h2
    span
      color: $student

#approve
  .centered
    text-align: center

  #acceptglyph:hover
    color: green

  #removeglyph:hover
    color: red

#submit
  .submit_hr
    border-top: 1px solid #C9CCC7

.glyphicon.glyphicon-book
  font-size: 75px

.glyphicon.glyphicon-dashboard
  font-size: 75px

.glyphicon.glyphicon-envelope
  font-size: 75px

.edit_hr
  border-top: 1px solid #C9CCC7

#edit_user
  form
    hr
      border-color: #ccc
