// Place all the styles related to the proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit
  h2
    span
      color: $student

  .edit_hr
    border-top: 1px solid #333

#approve
  .centered
    text-align: center

  #acceptglyph:hover
    color: green

  #removeglyph:hover
    color: red


.glyphicon.glyphicon-book
  font-size: 75px

.glyphicon.glyphicon-dashboard
  font-size: 75px
